---
title: Catatin
summary: Aplikasi Pencatatan Keuangan
description: Catatin adalah aplikasi pencatatan keuangan untuk mencatat pengeluaran dan pemasukan berbasis website
icon: twemoji:dollar-banknote
---

import { YouTube } from 'astro-embed';

Catatin adalah aplikasi pencatatan keuangan untuk mencatat pengeluaran dan pemasukan berbasis website.

Link demo : [www.catatain.com](www.catatain.com)

## Fitur

- Mencatat Pemasukan
- Mencatat Pengeluaran
- Statistik

## Screenshot

![Example Image](./images/example.png)

## Demo Video

<YouTube id="https://youtu.be/xtTy5nKay_Y" posterQuality='max' />