<div class="links scroll">
        {%- if site.linkedin -%}
        <a title="LinkedIn"
        href="https://www.linkedin.com/in/{{ site.linkedin }}" itemprop="sameAs"
        target="_blank">
        Linkedin
        </a>
        {%- endif -%}

        {%- if site.github -%}
        <a title="GitHub"
        href="https://www.github.com/{{ site.github }}" itemprop="sameAs"
        target="_blank">
        Github
        </a>
        {%- endif -%}

        <a title="GitHub"
        href="{{site.baseurl}}/blog/">
        Blog
        </a>
</div>
