<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }}</title>

    <meta name="description" content="{{ .Params.Description }}" />
    <meta name="google-site-verification" content="uQGWsE1AvnXlD-gvyTzOv7sMh7vZH7pSuZctArIi3Ws" />

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/schema.html" . }}

    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon/favicon-16x16.png">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="px-4">
    <div class="prose prose-sky prose-xl mx-auto py-24">
        {{ .Content }}
    </div>
</body>
</html>